<!--<datasource-http-settings current="ctrl.current"></datasource-http-settings>-->

<h3 class="page-heading">YNAB Settings</h3>

<div class="gf-form-group">
	<div class="gf-form-inline">
		<div class="gf-form">
			<span class="gf-form-label width-12">Personal Access Token</span>
			<input class="gf-form-input width-30" type="text" ng-model='ctrl.current.jsonData.acessToken' placeholder=""></input>
      <info-popover mode="right-absolute">
          <ul><li>Sign in to the YNAB web app and go to the "My Account" page and then to the "Developer Settings" page.</li>
            <li>Under the "Personal Access Tokens" section, click "New Token", enter your password and click "Generate" to get an access token.</li>
          </ul>
      </info-popover>
    </div>
  </div>
</div>
